<html lang='en'>

<head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Sending E-mail</title>
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
        href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'
        rel='stylesheet' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            max-width: 800px;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        form div {
            margin-bottom: 1rem;
        }

        .flex {
            display: flex;
            flex-direction: column;
        }

        textarea {
            font-family: 'Poppins', sans-serif;
            font-size: 1rem;
            padding: 6px;
        }

        input {
            width: 100%;
            padding: 6px 8px;
            font-size: 1rem;
            font-family: 'Poppins', sans-serif;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            flex: none;
            padding: 6px 8px;
            font-size: 16px;
            font-family: 'Poppins', sans-serif;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #4CAF50;
            color: white;
            cursor: pointer;
        }

        #msg {
            margin-top: 1rem;
            font-size: 1.1rem;
            color: #28a745;
        }
    </style>
</head>

<body>
    {{{body}}}
</body>

</html>